{
  "extends": "eslint-config-egg",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "space-before-function-paren": "off",
    "array-bracket-spacing": "off",
    "no-unused-vars": "off",
    "semi": "off",
    "indent": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "generator-star-spacing": "off",
    "no-debugger": "off"
  },
  "globals": {
    "use": true,
    "Controller": true,
    "C": true,
    "check": true,
    "S": true,
    "Service": true,
    "DEV": true,
    "debug": true,
    "info": true
  }
}
