<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://v4.bootcss.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Miao Application
  </a>
</nav>
