<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    veturpack
  </title>
  <link href="https://cdn.bootcss.com/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bulmaswatch/0.6.2/sandstone/bulmaswatch.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
    crossorigin="anonymous">
<link href="/public/styles.1b5bcef2.css" rel="stylesheet"></head>

<body>
  <div id="app"></div>
<script type="text/javascript" src="/public/manifest.56e51f8c.js"></script><script type="text/javascript" src="/public/vendor.71292c5a.js"></script><script type="text/javascript" src="/public/client.79a03b8e.js"></script></body>

</html>
