<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
    <img src="public/logo.png" class="d-inline-block align-top" alt="">
    喵览
  </a>
  </div>
</nav>
