{% extends "../layout/app.njk" %}

{% block content %}
  <div class="container">
        <form method="post">
        <input type='hidden' name="_csrf" value="{{ctx.csrf}}" />
        <div class="form-group">
            <label for="password"> 密码</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="密码">
        </div>
        <div class="form-group">
            <label for="confirm_password"> 密码</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="确认密码">
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
      </form>
  </div>

{% endblock %}
